<section class="advertisment margin-class">
    <h2 class="visually-hidden">Advertisment</h2>
    <div class="advertisment-block container">
        <p class="advertisment-text">Choose <span class="advertisment-text-color">
                your story</span>, making every moment unique. Time is your style,
            and we reveal it.</p>
        <div class="btm-adver">
            <button class="advertisment-block-btn"><a class="advertisment-link" href="#contact">Contact Us</a>
            </button>
        </div>
    </div>
</section>