<section class="catalog" id="catalog">
    <div class="container">
        <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-list">
            <li class="catalog-item">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="/img/watch-fenix-sapphire.webp 1x, /img/watch-fenix-sapphire@2x.webp 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/watch-fenix-sapphire-tablet.webp 1x, /img/watch-fenix-sapphire-tablet@2x.webp 2x">
                    <source media="(max-width: 767px)"
                        srcset="/img/watch-fenix-sapphire-mobile.webp 1x, /img/watch-fenix-sapphire-mobile@2x.webp 2x">
                    <img class="catalog-img" src="/img/watch-fenix-sapphire.webp"
                        alt="Garmin Fenix 7X Pro Sapphire Solar">
                </picture>
                <h3 class="catalog-text">Garmin Fenix 7X Pro Sapphire Solar </h3>
                <p class="catalog-price">€500</p>
            </li>
            <li class="catalog-item">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="/img/watch-marq-athlete.webp 1x, /img/watch-marq-athlete@2x.webp 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/watch-marq-athlete-tablet.webp 1x, /img/watch-marq-athlete-tablet@2x.webp 2x">
                    <source media="(max-width: 767px)"
                        srcset="/img/watch-marq-athlete-mobile.webp 1x, /img/watch-marq-athlete-mobile@2x.webp 2x">
                    <img class="catalog-img" src="/img/watch-marq-athlete.webp" alt="Garmin Marq Athlete">
                </picture>
                <h3 class="catalog-text">Garmin Marq Athlete</h3>
                <p class="catalog-price">€450</p>
            </li>
            <li class="catalog-item">
                <picture>

                    <source media="(min-width: 1280px)"
                        srcset="/img/watch-descent.webp 1x, /img/watch-descent@2x.webp 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/watch-descent-tablet.webp 1x, /img/watch-descent-tablet@2x.webp 2x">
                    <source media="(max-width: 767px)"
                        srcset="/img/watch-descent-mobile.webp 1x, /img/watch-descent-mobile@2x.webp 2x">
                    <img class="catalog-img" src="/img/watch-descent.webp" alt="Garmin Descent MK1">
                </picture>
                <h3 class="catalog-text">Garmin Descent MK1 </h3>
                <p class="catalog-price">€680</p>
            </li>
            <li class="catalog-item">
                <picture>
                    <source media="(min-width: 1280px)" srcset="/img/watch-delta.webp 1x, /img/watch-delta@2x.webp 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/watch-delta-tablet.webp 1x, /img/watch-delta-tablet@2x.webp 2x">
                    <source media="(max-width: 767px)"
                        srcset="/img/watch-delta-mobile.webp 1x, /img/watch-delta-mobile@2x.webp 2x">
                    <img class="catalog-img" src="/img/watch-delta.webp" alt="Garmin D2 Delta PX">
                </picture>
                <h3 class="catalog-text">Garmin D2 Delta PX</h3>
                <p class="catalog-price">€380</p>
            </li>
            <li class="catalog-item hidden">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="/img/watch-fenix-solar.webp 1x, /img/watch-fenix-solar@2x.webp 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/watch-fenix-solar-tablet.webp 1x, /img/watch-fenix-solar-tablet@2x.webp 2x">
                    <img class="catalog-img" src="/img/watch-fenix-solar.webp" alt="Garmin Fenix 6 Pro Solar">
                </picture>
                <h3 class="catalog-text">Garmin Fenix 6 Pro Solar</h3>
                <p class="catalog-price">€400</p>
            </li>
            <li class="catalog-item hidden">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="/img/watch-date-steel.webp 1x, /img/watch-date-steel@2x.webp 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/watch-date-steel-tablet.webp 1x, /img/watch-date-steel-tablet@2x.webp 2x">
                    <img class="catalog-img" src="/img/watch-date-steel.webp"
                        alt="Tube Watch S42 Date Steel With Black Case">
                </picture>
                <h3 class="catalog-text">Tube Watch S42 Date Steel With Black Case</h3>
                <p class="catalog-price">€395</p>
            </li>
        </ul>
        <button class="catalog-btn-mobile" type="button">Show more</button>
    </div>
</section>