<section id="contact" class="contact-us margin-class">
  <div class="container div-cont">
    <h2 class="h-cont">Contact us</h2>
    <div class="div-model-foto">
      <div class="div-model">
        <P class="p-text">Please use the form below to contact us. Enter your name, email, phone, and message and we'll
          get back to you shortly.</P>
        <form class="form-cont">
          <div class="div-form-cont">
            <label class="label" for="user-name"></label>
            <input class="input-cont" type="text" id="user-name" name="user-name" placeholder="Name" required>
          </div>
          <div class="div-form-cont">
            <label class="label" for="user-email"></label>
            <input class="input-cont" type="email" id="user-email" name="user-email" placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required>
          </div>
          <div class="div-form-cont">
            <label class="label" for="user-phone"></label>
            <input class="input-cont" type="tel" id="user-phone" name="user-phone" placeholder="380"
              pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required>
          </div>
          <div class="div-form-cont">
            <label class="label" for="user-comment"></label>
            <textarea class="form-comment" type="text" id="user-comment" name="user-comment" placeholder="Comment"
              required rows="1"></textarea>
          </div>
          <button class="button-cont" type="submit">Send</button>
        </form>
      </div>
      <div class="img-cont">
        <picture>
          <source media="(min-width: 1280px)" srcset="/img/contact-us/Rectangle_pc_1x.jpg  1x,
                                  /img/contact-us/Rectangle_pc_2x.jpg  2x" />
          <source media="(min-width: 768px)" srcset="
                            /img/contact-us/Rectangle_table_1x.jpg 1x,
                            /img/contact-us/Rectangle_table_2x.jpg 2x
                          " />
          <source media="(max-width: 767px)" srcset="/img/contact-us/Rectangle_phone_1x.jpg  1x,
                                  /img/contact-us/Rectangle_phone_2x.jpg  2x" />
          <img class="contact-us-images" src="/img/contact-us/Rectangle_pc_1x.jpg" alt="Rectangle 11" />
        </picture>
      </div>
    </div>
  </div>
</section>