<footer class="footer" id="footer">
  <div class="container">
    <div class="top-footer">
      <div class="logo-social">
        <a class="footer-logo" href="/index.html">watchcharm</a>
        <ul class="social-list">
          <li class="social-item">
            <a class="social-link" target="_blank" href="https://www.facebook.com/goITclub/">
              <svg class="icon">
                <use href="./img/footer/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a class="social-link" target="_blank" href="https://www.instagram.com/goitclub/"><svg class="icon">
                <use href="./img/footer/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a class="social-link" target="_blank" href="https://www.youtube.com/c/GoIT">
              <svg class="icon">
                <use href="./img/footer/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="tel-box">
        <a class="tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </div>
    </div>
    <h4 class="footer-text">
      Have the time of your life with our watches: where high-class
      craftsmanship meets impeccable design
    </h4>

    <div class="menu-adress">
      <ul class="footer-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="#about-us">About us</a></li>
        <li><a href="#catalog">Catalog</a></li>
        <li><a href="#sale">Sale</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#contact">Contact us</a></li>
      </ul>
      <a class="adress" target="_blank" href="https://maps.app.goo.gl/6EhnQpvdLUbZKKDa8">1678 S. Pioneer Road Salt Lake
        City UT 84104</a>
    </div>
    <hr class="horizontal" />
    <div class="footer-copyright">
      <p class="copyright">&copy;2023 The Watch Spot. All rights reserved.</p>
      <div class="footer-links">
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>