<header class="header">
  <div class="container">
    <nav class="navigation">
      <a class="company-logo" href="/index.html">watchcharm</a>
      <ul class="hdr-nav-menu">
        <li class="hdr-nav-menu-item"><a class="nav-menu-item-link">Home</a></li>
        <li class="hdr-nav-menu-item"><a class="nav-menu-item-link">About Us</a></li>
        <li class="hdr-nav-menu-item"><a class="nav-menu-item-link">Catalog</a></li>
        <li class="hdr-nav-menu-item"><a class="nav-menu-item-link">Sale</a></li>
        <li class="hdr-nav-menu-item"><a class="nav-menu-item-link">Reviews</a></li>
        <li class="hdr-nav-menu-item"><a class="nav-menu-item-link">Contact Us</a></li>
      </ul>
    </nav>
    <button type="button" class="hdr-menu-button">
      <svg class="hdr-menu-button-icon" width="34" height="34">
        <use></use>
      </svg>
    </button>
    <section class="hdr-social-links">
      <ul class="hdr-social-links-list">
        <li class="hdr-social-links-item">
          <a href="https://www.facebook.com/goITclub/">
            <svg class="hdr-social-links-item-logo" width="20" height="20">
              <use></use>
            </svg>
          </a>
        </li>
        <li class="hdr-social-links-item">
          <a href="https://www.instagram.com/goitclub/">
            <svg class="hdr-social-links-item-logo" width="20" height="20">
              <use></use>
            </svg>
          </a>
        </li>
        <li class="hdr-social-links-item">
          <a href="https://www.youtube.com/c/GoIT">
            <svg class="hdr-social-links-item-logo" width="20" height="20">
              <use></use>
            </svg>
          </a>
        </li>
      </ul>
    </section>
  </div>
</header>