<section class="hero">
    <div class="container hero-container">
        <div class="hero-title-text">
        <h1 class="hero-title">Welcome to our <span class="hero-title-span">collection</span> of premium watches</h1>
        <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
        </div>
        <div class="hero-fotos-btn">
        <div class="hero-fotos">
            <ul class="hero-list">
                <li class="hero-item">
                    <img class="hero-images" 
                    srcset=""
                    src="../hero_images/Ellipse1.webp" alt="Elipse1" width="" height="">
                </li>
            </ul>
        </div>
        <button type="button" class="hero-btn">Scroll down</button>
        </div>
        <div class="hero-picture"></div>
    </div>
</section>



