<section class="hero">
    <div class="container hero-container">
        <div class="hero-two-wrap">
        <div class="hero-title-text">
            <h1 class="hero-title">Welcome to our <span class="hero-title-span">collection</span> of premium watches
            </h1>
            <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and
                lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
        </div>
        <div class="hero-fotos-btn">
        <div class="hero-fotos">
            <ul class="hero-list">
                <li class="hero-item hero-foto1">
                    <img class="hero-images" 
                    srcset="/img/hero_images/Ellipse1.webp 1x, /img/hero_images/Ellipse1@2x.webp 2x"
                    src="/img/hero_images/Ellipse1.webp" alt="Elipse1" width="44" height="44">
                </li>
                <li class="hero-item hero-foto2">
                    <img class="hero-images" 
                    srcset="/img/hero_images/Ellipse2.webp 1x, /img/hero_images/Ellipse2@2x.webp 2x"
                    src="/img/hero_images/Ellipse2.webp" alt="Ellipse2" width="44" height="44">
                </li>
                <li class="hero-item hero-foto3">
                    <img class="hero-images" 
                    srcset="/img/hero_images/Ellipse3.webp 1x, /img/hero_images/Ellipse3@2x.webp 2x"
                    src="/img/hero_images/Ellipse3.webp" alt="Ellipse3" width="44" height="44">
                </li>
            </ul>
        </div>
        <button  type="button" class="hero-btn">Scroll down</button>
        </div>
        </div>
        <div class="hero-picture">
        </div>
    </div>
</section>




