<section class="popup-menu">
  <div class="container">
    <div class="popup">
      <div class="side-menu">
        <button type="button" class="close-button">
          <svg class="icon-x">
            <use href="/img/icons.svg#icon-x"></use>
          </svg>
        </button>
        <nav class="navigation-side">
          <ul class="hdr-nav-menu-side">
            <li class="hdr-nav-menu-item-side">
              <a class="nav-menu-item-link-side psevdo-side">Home</a>
            </li>
            <li class="hdr-nav-menu-item-side">
              <a href="#about-us" class="nav-menu-item-link-side">About Us</a>
            </li>
            <li class="hdr-nav-menu-item-side">
              <a href="#catalog" class="nav-menu-item-link-side">Catalog</a>
            </li>
            <li class="hdr-nav-menu-item-side">
              <a href="#sale" class="nav-menu-item-link-side">Sale</a>
            </li>
            <li class="hdr-nav-menu-item-side">
              <a href="#reviews" class="nav-menu-item-link-side">Reviews</a>
            </li>
            <li class="hdr-nav-menu-item-side">
              <a href="#contact-us" class="nav-menu-item-link-side"
                >Contact Us</a
              >
            </li>
          </ul>
        </nav>
        <ul class="social-list-side">
          <li class="social-item-side">
            <a
              class="social-link-side"
              href="https://www.facebook.com/goITclub/"
            >
              <svg class="icon-side">
                <use href="./img/footer/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item-side">
            <a
              class="social-link-side"
              href="https://www.instagram.com/goitclub/"
              ><svg class="icon-side">
                <use href="./img/footer/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item-side">
            <a class="social-link-side" href="https://www.youtube.com/c/GoIT">
              <svg class="icon-side">
                <use href="./img/footer/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
