<section class="sale-section margin-class" id="sale">
  <div class="container sale-section-container">
    <h2 class="sale-section-title">Sale</h2>
    <div class="cntnr-for-flex">
      <div class="clock-images-block">
        <div class="sale-all-img">
          <ul class="sale-list">
            <li class="sale-item">
              <img class="sale-img-container" src="/img/sale/watch1.1.webp"
                srcset="/img/sale/watch1.1.webp 1x, /img/sale/watch1.2.webp 2x" alt="Watch 1" />
            </li>
            <li class="sale-item">
              <img class="sale-img-container" src="img/sale/watch2.1.webp"
                srcset="/img/sale/watch2.1.webp 1x, /img/sale/watch2.2.webp 2x" alt="Watch 2" />
            </li>
            <li class="sale-item">
              <img class="sale-img-container" src="/img/sale/watch3.1.webp"
                srcset="/img/sale/watch3.1.webp 1x, /img/sale/watch3.2.webp 2x" alt="Watch 3" />
            </li>
            <li class="sale-item">
              <img class="sale-img-container" src="/img/sale/watch4.1.webp"
                srcset="/img/sale/watch4.1.webp 1x, img/sale/watch4.2.webp 2x" alt="Watch 4" />
            </li>
          </ul>
        </div>
        <div class="sale-main-image">
          <img class="sale-large" src="/img/sale/watch5.1.webp"
            srcset="/img/sale/watch5.1.webp 1x, /img/sale/watch5.2.webp 2x" alt="Large Watch" />
        </div>
      </div>
      <div class="container sale-text-container">
        <div class="sale-description">
          <h3 class="sale-title-text">MARQ® Commander (Gen 2) - Carbon Edition</h3>
          <p class="h3-title-text">Product tag: 706587</p>
          <div class="sale-price-container">
            <a href="#" class="sale-price">€1500</a>
            <p class="sale-price-text">€3000</p>
          </div>
          <p class="sale-main-text">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
            for adventurers that takes materials and features to the next level. The
            body of the watch is made of very durable Fused Carbon Fiber material
            and has a precise AMOLED touch screen. The sensitive touch screen is
            complemented by buttons that can be used in any conditions.
          </p>
        </div>
        <div class="sale-block-text">
          <ul class="sale-text-list">
            <li class="sale-text-item">Fused carbon fiber</li>
            <li class="sale-text-item">Grade-5 Titanium</li>
            <li class="sale-text-item">Athlete</li>
            <li class="sale-text-item">Golfer</li>
            <li class="sale-text-item">Commander</li>
            <li class="sale-text-item">Adventurer</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>