.advertisment {
    max-width: 100%;
    padding: 28px 60px;
    background-image: linear-gradient(to bottom,
    rgba(12, 12, 12, 1),
    rgba(12, 12, 12, 1)), url(/advertisment/advertisment-desk.png), no-repeat, opasity 20%;
}
.advertisment-block {
    display: flex;
    display-flex: row;
    justify-content: left;
}

.advertisment-text {
    color: #FBFBFB;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.02em;
    line-height: 1;
}

.advertisment-text-color {
    color:rgba(251, 251, 251, 0.5)
}

.advertisment-block-btn {
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;

}

.advertisment-block-btn:hover,
.advertisment-block-btn:focus {
    background-color: #FBFBFB;
    color: #0C0C0C;
    border: 1px solid rgba(251, 251, 251, 0.15);
    
}

.advertisment-btn {
    padding: 44px 15px 43px;
    color:#FBFBFB;
    font-weight: 500;
    line-height: 0,8;
    text-align: center;
}



@media only screen and (min-width: 768px) {
    .advertisment {
        max-width: 100%;
        padding: 60px 80px;
        background-image: linear-gradient(to bottom,
        rgba(12, 12, 12, 1),
        rgba(12, 12, 12, 1)), url(/advertisment/advertisment-desk.png), no-repeat, opasity 20%;
    }
    .advertisment-block {
        display: flex;
        display-flex: row;
    }

    .advertisment-text {
        color: #FBFBFB;
        font-size: 48px;
        letter-spacing: 0.02em;
        line-height: 0.92;
    }

}

@media only screen (min-resolution: 192dpi),
(min-resolution: 2dppx){

}

@media only screen and (min-width: 1157px) {

.advertisment {
    max-width: 100%;
    padding: 0 80px;
    background-image: linear-gradient(to bottom,
    rgba(12, 12, 12, 1),
    rgba(12, 12, 12, 1)), url(/advertisment/advertisment-desk.png), no-repeat, opasity 20%;
}

.advertisment-block {
    display: flex;
    justify-content: space-between;
}

.advertisment-text {
    color: #FBFBFB;
    font-weight: 800;
}

.advertisment-btn {
    font-weight: 500;
    line-height: 1.29;
    text-align: center;
    padding: 15px 43px;
    border: 2px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
}
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi),
(min-resolution: 2dppx) {

}