
.h-cont{
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 28px;
}


.div-model-foto{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-model{
    border-radius: 30px;
    min-width: 335px;
    padding: 48px 28px;
    background: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-form-cont{
    padding-top: 18px;
}


.div-form-cont:first-child{
    padding-top: 0;
} 

.p-text{
    padding-bottom: 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}


.input-cont{
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    min-width: 279px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    background-color: transparent;
    outline: transparent; 
    padding-left: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.input-cont:focus{
    border: 1px solid #3350e9;
}

.form-comment:focus{
    border: 1px solid #3350e9;
}

.form-comment{
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    min-width: 279px;
    resize: none;
    overflow: hidden;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    background-color: transparent;
    outline: transparent;   
    padding-left: 14px;
    padding-top: 12px;
    padding-bottom: 54px;
}

.button-cont{
    border-radius: 16px;
    padding: 12px 50px;
    min-width: 134px;
    background: #3350e9;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fbfbfb;
    margin-top: 28px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.button-cont:hover{
    background-color: #1f3cd4; 
}
.button-cont:focus{
    background-color: #1f3cd4; 
}

.form-comment::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: #0c0c0c;
}

.input-cont::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: #0c0c0c;
}

.img-cont img{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (min-width: 768px){
    .div-model{
        border-radius: 50px;
        padding: 50px 122px;
        max-width: 704px;
    }
    .input-cont{
        min-width: 460px;
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .form-comment{
        padding-left: 16px;
        padding-top: 16px;
        min-width: 460px;
    }
    .button-cont{
       padding: 17px 63px;
       min-width: 160px;
       margin-top: 32px;
    }
    .img-cont{
        border-radius: 50px;
    }
    .p-text{
        font-size: 16px;
        line-height: 1.25;
        min-width: 460px;
        padding-bottom: 32px;
    }
    .h-cont{
        font-size: 48px;
        line-height: 0.92;
        margin-bottom: 40px;
    }
    .div-model-foto{
        gap: 40px;
    }
    .form-comment::placeholder{
        font-size: 16px;
        line-height: 1.25;
    }
    .input-cont::placeholder{
        font-size: 16px;
        line-height: 1.25;
    }
}

@media screen and (min-width: 1280px){
    .div-model-foto{
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    .div-model{

        border-radius: 50px;
        max-width: 580px;
        padding: 50px 60px;
    }
}





