
.h-cont{
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}


.div-model-foto{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-model{
    border-radius: 30px;
    padding: 48px 28px;
    width: 335px;
    height: 512px;
    padding: 48px 28px;
    background: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.div-form-cont{
    padding-top: 18px;
}


.div-form-cont:first-child{
    padding-top: 0;
} 

.p-text{
    padding-bottom: 28px;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.input-cont{
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    width: 279px;
    height: 42px; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    background-color: transparent;
    outline: transparent; 
    padding-left: 14px;
}

.input-cont:focus{
    border: 1px solid #3350e9;
}

.form-comment{
border: 1px solid rgba(12, 12, 12, 0.15);
border-radius: 12px;
width: 279px;
height: 84px;
    resize: none;
    overflow: hidden;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    background-color: transparent;
    outline: transparent;  
    padding-top: 12px;
    padding-left: 14px;
}

.form-comment:focus{
    border: 1px solid #3350e9;
}

.button-cont{
    border-radius: 16px;
padding: 12px 50px;
width: 134px;
background: #3350e9;
border: none;
font-family: "Gilroy", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.28571;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: #fbfbfb;
margin-top: 28px;
}


.form-comment::placeholder{
    font-family: "Gilroy", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
color: #0c0c0c;
}

.input-cont::placeholder{
    font-family: "Gilroy", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
color: #0c0c0c;
}

.img-cont img{
    border-radius: 30px;
    object-fit:cover;
    width: 335px;
    height: 512px;
}



@media screen and (min-width: 768px){
    .div-model{
        border-radius: 50px;
        padding: 50px 122px;
        width: 704px;
    }
    .input-cont{
        padding-left: 16px;
        width: 460px;
    }
    .form-comment{
        padding-top: 16px;
        padding-left: 16px;
        width: 460px;
    }
    .button-cont{
       padding: 17px 63px;
       width: 160px;
    }
    .img-cont img{
        border-radius: 50px;
        width: 704px;
    }
    .p-text{
        font-size: 16px;
        line-height: 1.25;
        width: 460px;
        padding-bottom: 32px;
    }
    .h-cont{
        font-size: 48px;
        line-height: 0.9;
    }
    .div-model-foto{
        gap: 40px;
    }
    .button-cont{
      margin-top: 32px;
    }
}

@media screen and (min-width: 1280px){
    .div-model-foto{
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
    }
    .div-model{
        border-radius: 50px;
        width: 580px;
    }
    .img-cont img{
        width: 526px;
    }
}





