/* Text */
.tel,
.footer-menu,
.adress {
  color: rgb(251, 251, 251);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
}

.copyright,
.footer-links {
  color: rgba(251, 251, 251, 0.5);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {

  .tel,
  .footer-menu,
  .adress,
  .copyright,
  .footer-links {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {

  .tel,
  .footer-menu,
  .adress,
  .copyright,
  .footer-links {
    font-size: 14px;
  }
}

/* Footer */
footer .container {
  background-color: #0c0c0c;
  border-radius: 30px;
  padding: 40px 28px 28px 28px;
  min-width: 100%;
}
.logo-social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-logo {
  color: rgb(251, 251, 251);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: left;
}

.social-list {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.social-item {
  width: 34px;
  height: 34px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  background-color: transparent;
}

footer .icon {
  fill: #cbcbcb;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:hover .icon {
  fill: #fbfbfb;
}


.tel-box {
  width: 154px;
  height: 44px;
  padding: 14px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  margin-bottom: 40px;
}

.tel {
  text-align: center;
  text-transform: uppercase;
}

.footer-text {
  color: rgb(251, 251, 251);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 92px;
}

.menu-adress {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
}

.footer-menu {
  width: 147px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.adress {
  text-align: left;
  width: 83px;
}

.horizontal {
  border-top: 1px solid rgba(251, 251, 251, 0.1);
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 24px;
}

.copyright {
  margin-bottom: 8px;
}

.footer-links :nth-child(1) {
  margin-right: 20px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  footer .container {
    min-width: 100%;
    padding: 40px 40px 28px 40px;
  }

  .footer-logo {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .top-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
  }

  .logo-social {
    display: flex;
    flex-direction: column;
    height: 80px;
  }
  .social-item {
    width: 36px;
    height: 36px;
  }
  footer .icon {
    width: 20px;
    height: 20px;
  }
  .tel-box {
    width: 162px;
    height: 48px;
    padding: 15px;
    display: flex;
    border-radius: 16px;
    margin-bottom: 0;
  }

  .footer-text {
    width: 524px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -0.02em;
    text-align: center;
    margin: 0 auto 100px;
  }

  .menu-adress {
    min-width: 100%;
    margin-bottom: 28px;
  }

  .footer-menu {
    min-width: 400px;
    gap: 19px;
    flex-wrap: nowrap;
  }

  .adress {
    text-align: left;
    min-width: 162px;
  }

  .footer-copyright {
    display: flex;
    justify-content: space-between;
  }

  .copyright {
    margin-bottom: 0;
  }

  .footer-links :nth-child(1) {
    margin-right: 20px;
  }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
  footer .container {
    position: relative;
  }
  .footer-text {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
  }
  .top-footer {
    margin-bottom: 142px;
  }
  .horizontal {
    margin-bottom: 28px;
  }
}
