.header {
    padding: 20px;
    border-bottom: solid 0.5px #E3E3E3;
}

.hdr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {}

.company-logo {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #0c0c0c;

}

.hdr-nav-menu {
    display: none;
}

.hdr-nav-menu-item {}

.nav-menu-item-link {}

.hdr-social-links {
    display: none;
}

.hdr-social-links-list {}

.hdr-social-links-item {}

.hdr-social-links-item-logo {}

.hdr-menu-button {
    /* background-color: transparent;*/
    border: none;
}