.sale-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cntnr-for-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.clock-images-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin: 0 auto;
    text-align: center;
}


.sale-section-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}

/*.sale-img-container {
    max-width: 52px;
}*/

.sale-item {
    width: calc((100% - 3 * 5px) / 4);
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 16px;
    background: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    padding: 13px 14px;

}


p.sale-main-text {
    margin-bottom: 28px;
}

.sale-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;
}

.sale-large {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}

.sale-text-container {
    border-radius: 30px;
    background: #3350e9;
    display: flex;
    flex-direction: column;
    padding: 48px 24px;
}

.sale-title-text {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 10px;
    max-width: 279px;
}

.h3-title-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
    margin-bottom: 20px;
}

.sale-price-container {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 28px;
}

.sale-price {
    min-width: 68px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    background: rgba(251, 251, 251, 0.1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.sale-price-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration: line-through;
    color: rgba(251, 251, 251, 0.5);
    text-align: center;
}

.sale-main-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.7);
    margin-bottom: 28px;
}

.sale-block-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sale-text-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    padding-left: 0;
}

.sale-text-item {
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: -0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background: #3350e9;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    color: #fbfbfb;
    padding: 8px 12px;
}

.sale-price {
    width: 78px;
    height: 32px;
    font-size: 20px;
    line-height: 1;
}

.sale-block-text {
    gap: 8px;
}

.sale-main-image {
    border-radius: 30px;
    color: #fbfbfb;
    padding: 50px;
    background: #f3f3f3;
    border: 1px solid rgba(12, 12, 12, 0.05);
}

@media only screen and (min-width: 768px) {
    .sale-section {
        flex-direction: column;
        gap: 40px;
    }

    /*.sale-large {
        min-width: 552px;
        min-height: 558px;
    }*/
    .sale-large {
        min-width: 328px;
    }

    .sale-main-image {
        padding: 80px 112px;
    }

    .sale-section-title {
        font-size: 48px;
        line-height: 0.9;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        margin-bottom: 40px;
    }

    .sale-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 558px;
    }

    .sale-text-list {
        max-width: 398px;
    }

    .clock-images-block {
        flex-direction: row;
    }

    .sale-item {
        width: calc((100% - 3 * 10px) / 4);
        min-width: 132px;
        padding: 16px 18px;
    }

    .sale-large-item {
        display: flex;
        justify-content: center;
    }

    .cntnr-for-flex {
        gap: 40px;
    }

    .sale-img-container {
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    .sale-title-text {
        font-size: 32px;
        line-height: 1.12;
        max-width: 436px;
    }

    .sale-main-text {
        font-size: 16px;
        line-height: 1.25;
    }

    p.sale-main-text {
        margin-bottom: 40px;
    }

    .sale-price-container {
        margin-bottom: 30px;
    }

    .sale-text-item {
        font-size: 14px;
        line-height: 1.29;
    }
}


@media only screen and (min-width: 1280px) {

    .sale-title-text {
        margin-bottom: 10px;
        max-width: 100%;
    }

    .h3-title-text {
        margin-bottom: 20px;
    }

    .sale-main-image {
        padding: 80px 50px;
    }

    .sale-text-container {
        padding: 60px;
    }

    .cntnr-for-flex {
        flex-direction: row;
    }

    .sale-price-text {
        margin-bottom: 20px;
    }

    .sale-main-text {
        margin-bottom: 40px;
    }
}