body {
  font-family: "Gilroy", sans-serif;
  /* min-height: 100vh; */
  margin: 0;
  color: #0C0C0C;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}